<div class="jumbotron center">
     <h1>Welcome!</h1>
     <% if user_signed_in? %>
     # Whatcha gonna do now?! HUH?!
     <% else %>
	     <p>
	       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  	</p> 
	  <% end %>
</div>